body {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: 'Poppins', sans-serif;
    background-image: url(img/fundo02_c.jpg);
    background-repeat: no-repeat;
}


/* Posicionamento do logo */
.logo {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo img {
    width: 170px;
}

/* Estilos do formulário */
#cadastro {
    background-color: rgba(34, 45, 49, 255);
    width: 90%;
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
    margin-top: 7%;
    position: relative;
    /* Para ajustar o posicionamento */
    border-left: 10px solid #e8951d;
    /* Adiciona a borda amarela no canto esquerdo */

}

.inputs {
    width: 80%;
    height: 40px;
    border-radius: 5px;
    padding: 0 10px;
    border: none;
    color: black;
    margin-bottom: 15px;
    /* Espaçamento entre os inputs */
}



#button {
    background-color: rgb(228, 175, 30);
    width: 40%;
    height: 40px;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 22px;

}

.container {
    text-align: center;
}

h1 {

    font-size: 30px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.highlight-yellow {
    color: #e8951d;
    font-size: 1.7rem;
}


.text-white {
    color: white;
    font-size: 1.7rem;
}

.highlight-pink {
    color: #bc2441;

}

.second-text-white {
    color: white;

}

/*Segunda parte da página*/
#agentes {

    width: 20%;
    height: 20%;
    background-color: #1c1b1b;

}

#agentes img {

    width: 20%;
    height: 20%;

}

#custos img {

    width: 20%;
    height: 20%;
}

#custos {
    background-color: #1c1b1b;
    width: 20%;
    height: 20%;

}

#compliance {
    background-color: #1c1b1b;
    width: 20%;
    height: 20%;

}

#compliance img {

    width: 20%;
    height: 20%;
}

h3 {
    color: white;
    margin: 0;
}

/*Flexbox*/
#second-section {
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: #100c0c;
    padding: 20px;
    margin-top: 4%;

}

#second-section div {
    flex: 1;
    margin: 0 10px;
    max-width: 30%;
    color: white;
    margin-left: 5%;

}

.logo-title {
    display: flex;
    align-items: center;
}

.logo-title img {
    margin-right: 10px;
    width: 40px;
}

.logo-title h3 {
    font-size: x-large;
    margin: 0;
    white-space: nowrap;
    overflow: visible;
}

#second-section p {
    margin-left: 15%;
    margin-top: 10px;
    line-height: 1.5;
}

/*Terceira Container*/

#terceira-section {
    background-image: url(img/fundo05_c.jpg);
    background-size: cover;
    /* Faz a imagem de fundo cobrir o container */
    background-position: center;
    display: block;
    min-height: 100vh;
    justify-content: center;
    /* Alinha horizontalmente no centro */
    align-items: center;
    padding-top: 20px;
    /* Adiciona espaço entre a section e a div */
}

#terceira-div {
    width: 75%;
    height: 950px;
    background-color: rgba(127, 126, 126, 0.9);
    padding: 20px;
    border-radius: 10px;
    margin-left: 12%;
    display: flex;
    flex-direction: column; /* Mantém a coluna para o título */
    align-items: center;
    text-align: center;
}

#h2-section {
    color: white;
    margin: 0;
    padding: 10px;
}

.container {
    display: flex; /* Cria um novo contêiner flexível para a imagem e o texto */
    justify-content: space-between; /* Espaça a imagem e o texto no contêiner */
    align-items: flex-start; /* Alinha a imagem e o texto no topo */
    width: 95%; /* Faz com que o contêiner ocupe toda a largura */
}

.imagem_cotacao {
    height: 65%; /* Define a altura da imagem */
    margin-top: 20px; /* Margem superior para a imagem */
}

.text-paragraph {
    color: rgb(255, 255, 255);
    font-size: 28px;
    margin-top: 11%; /* Margem superior para o parágrafo */
}
